.content {
  height: 100%;
  width: 100%;
  justify-items: center;
}
.login-logo {
  width: 349px;
  height: 127px;
  top: 131.66px;
  position: absolute;
  align-self: center;
  justify-self: center;
  z-index: 999;
}
.login-background {
  width: 100%;
  height: 1024px;
  align-self: center;
  justify-self: center;
  position: absolute;
  z-index: 1;
}
.circle {
  width: 506px;
  vertical-align: bottom;
  height: 428px;
  position: absolute;
  top: 400px;
  border-radius: 100% 100% 30px 30px;
  background: #ffffff;
}
textarea:focus,
input:focus {
  outline: none;
}
.circle2 {
  width: 506px;
  vertical-align: bottom;
  height: 428px;
  position: absolute;
  top: 430px;
  border-radius: 100% 100% 35px 35px;
  background: #88a1d2;
}
.input-identity {
  appearance: none;
  border: none;
  width: 409px;
  height: 58px;
  border-radius: 30px;
  border: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
  background: url("../img/login/caret.svg") no-repeat right;
  background-position: 350px;
  background-color: #EBEBEB;
  z-index: 997;
}
.select-option {
  appearance: none;
  border: none;
  width: 409px;
  height: 58px;
  border-radius: 30px;
  border: 0px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
  background: url("../img/login/caret.svg") no-repeat right;
  background-position: 350px;
  background-color: #EBEBEB;
  z-index: 997;
  color: #c7c7c7;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  align-self: center;
  position: relative;
  text-align: left;
}
.input-account {
  border: none;
  background: #EBEBEB;
  width: 409px;
  height: 58px;
  border-radius: 30px;
  border: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
  z-index: 997;
}
.input-password {
  border: none;
  background: #EBEBEB;
  width: 409px;
  height: 58px;
  border-radius: 30px;
  border: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
  z-index: 997;
}
.input-email {
  border: none;
  background: #EBEBEB;
  width: 409px;
  height: 58px;
  border-radius: 30px;
  border: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
  z-index: 997;
}
.login {
  border-radius: 30px;
  border: 0px;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color:var(--Color-Blue-Blue-200, #8AA3D4);
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login-wrap {
  z-index: 999;
  filter: drop-shadow(2.48px 2.48px 1.24px 0px rgba(0, 0, 0, 0.161));

}

.send {
  border-radius: 30px;
  border: 0px;
  width: 250px;
  height: 40px;
  color: #595757;
  background-color: #f7f8f8;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
}

.send-wrap {
  z-index: 999;
  filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
}
::placeholder {
  color: #c7c7c7;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  align-self: center;
  position: relative;
  text-align: left;
  /* identical to box height */
}
.dropdown-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  position: absolute;
  margin-left: 260px;
}
.identity-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: -60px;
}
.account-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: -60px;
}
.password-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: -60px;
}
.email-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: -60px;
}
.R-row {
  flex: 1;
  flex-direction: column;
  display: "block";
  align-items: center;
  justify-items: center;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.C-col {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.copyRight {
  position: absolute;
  left: 17%;
  right: 50%;
  top: 107.1%;
  bottom: 0.5%;
  width: 500px;
  color: #a3a2a3;
  font-size: 14px;
}
* {
  font-family: 微軟正黑體;
}
.register {
  margin-left: -20px;
  width: 150px;
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height */

  color: #f7f8f8;
}
.register-text {
  border-radius: 30px;
  border: 2px solid var(--Color-Gary-Gray-300, #9B9B9B);
  width: 200px;
  height: 50px;
  color: #353535;
  background-color: transparent;
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 29px;

}

.forget-text {
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  color: #f7f8f8;
  margin-left: 230px;
  cursor: pointer;
  z-index: 998;
}

.back-text {
  border-radius: 30px;
  border: 2px solid var(--Color-Gary-Gray-300, #9B9B9B);
  width: 200px;
  height: 50px;
  color: #353535;
  background-color: transparent;
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 29px;
}
.login-title {
  font-family: "PingFang TC";
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: "100%";
  height: 34px;
  margin-top: 15px;
}