.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 506px;
    left: 40%;
    height: 619px;
    top: 8.33%;
    bottom: 10.95%;
    background-color: #F7F8F8;
    border-radius: 30px;

}
.login-logo{
    width: 215px;
    height: 77px;
    position: absolute;
    left: 30%;
    right: 44.43%;
    top: 23.86%;
    bottom: 66.11%;
}
.circle{
    width:100%;
    vertical-align:bottom;
    height: 400px;
    position: absolute;
    top: 40.86%;
    bottom: 40.11%;
    border-radius:100%  100% 30px 30px ;
    background:  #FFFFFF;
}
textarea:focus, input:focus{
    outline: none;
}
.circle2{
    width:100%;
    vertical-align:bottom;
    height: 400px;
    position: absolute;
    top: 30.86%;
    bottom: 40.11%;
    border-radius:100%  100% 30px 30px ;
    background:  #88A1D2;;
}
.input-account{
    position: absolute;
    left:20%;
    right: 30.06%;
    top: 64.74%;
    bottom: 25.67%;

    border: none;
    background: #F4F4F4;
    width: 230px;
    height: 52px;
    border-radius: 30px;
    border: 0px;
    text-align:left;
    color: #C7C7C7;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 70px;
    text-overflow: ellipsis;
}
.input-password{
    border: none;
    position: absolute;
    left:20%;
    right: 40.06%;
    top: 75.74%;
    bottom: 15.67%;
    background: #F4F4F4;
    width: 230px;
    height: 52px;
    border-radius: 30px;
    border: 0px;
    text-align:left;
    color: #C7C7C7;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 70px;
    text-overflow: ellipsis;
}
.login{

    border-radius: 30px;
    border: 0px;
    width: 200px;
    height: 50px;
    color: #595757;
    background-color: #F7F8F8;
    font-family: 'GenYoGothic TW';
    font-style: normal;
    font-size: 25px;
    line-height: 20px;
    font-weight:bold;
}

.login-wrap {

    z-index: 999;
    position: absolute;
    left: 46.88%;
    right:30.04%;
    top: 100.61%;
    bottom: 22.8%;
    filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
}
::placeholder {
    color: #C7C7C7;
    font-size: 15px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    alignment: center;
    position: relative;
    text-align: left;
    /* identical to box height */
}
.account-icon{
    position: absolute;
    left: 25.3%;
    right: 28.01%;
    top: 65.78%;
    bottom: 46.5%;
    z-index: 998;
    width: 35px;
    height: 35px;
}
.password-icon{
    position: absolute;
    left: 25.3%;
    right: 28.01%;
    top: 77.78%;
    bottom: 46.5%;
    z-index: 998;
    width: 35px;
    height: 35px;
}
.outInput{
    flex-direction: row;
    display: flex
}
