.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 506px;
  left: 40%;
  height: 719px;
  top: 8.33%;
  bottom: 10.95%;
  background-color: #f7f8f8;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.login-logo {
  width: 215px;
  height: 77px;
  position: absolute;
  left: 30%;
  right: 44.43%;
  top: 15.86%;
  bottom: 66.11%;
}
.circle {
  width: 100%;
  vertical-align: bottom;
  height: 400px;
  position: absolute;
  top: 30.86%;
  bottom: 40.11%;
  border-radius: 100% 100% 30px 30px;
  background: #ffffff;
}
textarea:focus,
input:focus {
  outline: none;
}
.circle2 {
  width: 99.5%;
  vertical-align: bottom;
  height: 382px;
  position: absolute;
  top: 28.86%;
  left: 0.5%;
  bottom: 40.11%;
  border-radius: 100% 100% 35px 35px;
  background: #88a1d2;
}
.input-account {
  border: none;
  background: #f4f4f4;
  width: 300px;
  height: 52px;
  border-radius: 30px;
  border: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
}
.input-password {
  border: none;
  background: #f4f4f4;
  width: 300px;
  height: 52px;
  border-radius: 30px;
  border: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 70px;
  text-overflow: ellipsis;
}
.login {
  border-radius: 30px;
  border: 0px;
  width: 200px;
  height: 50px;
  color: #595757;
  background-color: #f7f8f8;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-size: 25px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
}

.login-wrap {
  z-index: 999;
  filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
}
::placeholder {
  color: #c7c7c7;
  font-size: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  align-self: center;
  position: relative;
  text-align: left;
  /* identical to box height */
}
.account-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: -60px;
}
.password-icon {
  z-index: 998;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: -60px;
}
.row {
  flex: 1;
  flex-direction: column;
  display: "block";
  align-items: center;
  justify-items: center;
  z-index: 999;
  margin-top: 75%;
  margin-left: 20%;
}
.col {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}
.copyRight {
  position: absolute;
  left: 17%;
  right: 50%;
  top: 107.1%;
  bottom: 0.5%;
  width: 500px;
  color: #a3a2a3;
  font-size: 14px;
}
* {
  font-family: 微軟正黑體;
}
.register {
  margin-left: -20px;
  width: 150px;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-size: 25px;
  line-height: 20px;
  /* identical to box height */
  font-weight: bold;

  color: #f7f8f8;
}
.register-text {
  margin-left: -40px;
  width: 150px;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
  color: #f7f8f8;
  margin-right: 20px;
}

.forget-text {
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  color: #f7f8f8;
  margin-left: 230px;
  cursor: pointer;
}

.back-text {
  margin-left: -40px;
  width: 150px;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  /* identical to box height */
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
  color: #f7f8f8;
  margin-right: 20px;
}
