.headshot {
    position: absolute;
    left: 81.53%;
    right: 15.07%;
    top: 3.26%;
    bottom: 90.36%;
    width: 49px;
    height: 49px;
}


.bellImg {
    width: 30px;
    height: 30px;
}

.bell {
    position: absolute;
    left: 95.39%;
    right: 2.79%;
    top: 4.62%;
    bottom: 91.28%;
}

.arrow_down {
    position: absolute;
    left: 92.3%;
    right: 6.49%;
    top: 8.00%;
    bottom: 90.07%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: #c7c7c7 transparent transparent transparent;
}

.logout {
    background-color: #FFFFFF;
    clip-path: polygon(81% 0, 88% 6%, 100% 6%, 100% 39%, 0 39%, 0 6%, 73% 6%);
    position: absolute;
    width: 100px;
    height: 40px;
    padding: 0px 3px 180px 3px;
    border-radius: 15px;
    alignment: left;
    list-style: none;
}

.logout li {
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    /* identical to box height */
}

.logout li:hover {
    color: #F2A246;
}

.logout-wrap {
    z-index: 999;
    left: 87.48%;
    right: 98.21%;
    top: 9%;
    bottom: 87.56%;
    position: absolute;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.name {
    font-weight: bold;
    font-family: 'GenYoGothic TW';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    position: absolute;
    left: 85.9%;
    right: 9.93%;
    top: 3.91%;
    bottom: 93.49%;
    width: 100px;
    color: #555654;
}

.title {
    /* 醫師 */
    width: 28px;
    position: absolute;
    left: 90.28%;
    right: 7.78%;
    top: 4.69%;
    bottom: 93.49%;

    font-family: 'GenYoGothic TW';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */


    color: #555654;
}

.email {
    position: absolute;
    left: 85.9%;
    right: 7.92%;
    top: 7.16%;
    bottom: 90.36%;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #C7C7C7;
}

.list-style {
    list-style: none;
}
