.personal-content {
}

.bellImg {
  width: 30px;
  height: 30px;
}

.bell {
  margin-top: 40px;
  margin-right: 50px;
}
.info {
}
.nameAndTitle {
  width: 150px;
  flex-direction: row;
  margin-top: 30px;
}
.personal-name {
  font-weight: bold;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-size: 18px;
  color: #555654;
}

.title {
  /* 醫師 */
  width: 28px;

  font-family: "GenYoGothic TW";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 2px;
  /* identical to box height */

  color: #555654;
}
.emailAndArrow {
  display: flex;
  flex-direction: row;
}
.email {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  /* identical to box height */

  color: #c7c7c7;
}
.menuItem:hover {
  color: #f2a246;
}

.list-style {
  list-style: none;
}