.BusinessInfo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-width: 1px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #c7c7c7;
  margin-right: auto;
  display: block;
}

.BusinessInfo-Input {
  margin-top: 200px;
}

.BusinessInfo img[src=""] {
  display: none;
}

.BusinessInfo img {
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}

.finishButton {
  width: 111px;
  height: 33px;
  border-radius: 20px;
  border: none;
  background: #9a9c9a;
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #f7f8f8;
}
.finishButton:hover {
  box-shadow: 0 3px 3px 3px #dcdddc, 0 3px 1px -2px rgb(33 150 243 / 20%), 0 1px 5px 0 rgb(33 150 243 / 12%);
}

.acceptButton {
  width: 111px;
  height: 33px;
  border-radius: 20px;
  border: none;
  background: #89a2d0;
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.acceptButton:hover {
  box-shadow: 0 3px 3px 3px #e3ebfa, 0 3px 1px -2px rgb(33 150 243 / 20%), 0 1px 5px 0 rgb(33 150 243 / 12%);
}
