.CertificateInfo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-width: 1px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #c7c7c7;
  margin-right: auto;
  display: block;
}

.CertificateInfo-Input {
  margin-top: 200px;
}

.CertificateInfo img[src=""] {
  display: none;
}

.CertificateInfo img {
  margin-left: 50px;
  max-width: 300px;
  width: auto;
  height: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}
