.PersonalInfo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    border-width: 1px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #C7C7C7;
    margin-right: auto;
    display: block;
    width: 100%;

}

.PersonalInfo-Input {
    margin-top: 200px;
}

.PersonalInfo img[src=""] {
    display: none;
}

.PersonalInfo img {
    max-width: 300px;
    width: auto;
    height: auto;
}
