.sidebar{
    background-color:#859cc9;
    height: 70%;
    width: 20%;
    float: left;
    margin-top: 30px;
}

.slide-item{
    margin-right: 100px;
    width: 400px;
    height: 70px;
    scale: 100%;
}
