.Consultation {
    display:  flex;
    flex-direction: column;
    justify-content: center;
}

.Page {
    Display: inline-block;
    margin-left: 45%;
    margin-top: 15px;

}
.Consultation table tr:hover{

    background-color: #F4F4F4;
    cursor: pointer;
    color: #000000;
}

.Consultation table {
    table-layout:fixed;
    margin-left: 60px;
    vertical-align: center;
    border-collapse: separate;
    border-spacing:0px 15px

}

.lineItem {
    background-color: #FFFFFF;
}
.startButton{
    width: 80px;
    height: 46px;
    border-radius:20px;
    border:0;
    font-family: 'PingFang TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background-color:#88A1D2 ;
    margin-left: -10px;
    /* identical to box height */
    color: #F7F8F8;

}

.editButton{
    width: 15px;
    height: 15px;
}
.Consultation th {
    font-weight: bold;
    font-family: Microsoft JhengHei, sans-serif;
    color: #859cc9;
    background-color: #F7F8F8;
    font-size: 20px;
}

.Consultation td:first-child {
    border-top-left-radius: 20px;
}



.Consultation td:first-child {
    border-bottom-left-radius: 20px;
}

.Consultation td:nth-last-child(2){
    border-top-right-radius: 20px;
}

.Consultation td:nth-last-child(2){
    border-bottom-right-radius: 20px;
}

.Consultation td:last-child{
    background: #F7F8F8;
}


.Consultation td {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;

    text-align: center;
}



.Consultation tr {
    height: 53px;
    background-color: #FFFFFF;
}


