.BasicInfo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-width: 1px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
}

.BasicInfo-Input {
  margin-top: 200px;
}

.BasicInfo img[src=""] {
  display: none;
}

.BasicInfo img {
  margin-left: 50px;
  max-width: 300px;
  width: auto;
  height: auto;
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}
.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}
.subTitle {
  height: 60px;
  padding-left: 29px;
  font-size: 24px;
  font-family: "PingFang TC";
  font-weight: "600";
  color: "#212629";
  background-color: "#ECF0F1";
  line-height: 24px;
}
