.upContent {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.downContent {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 13%;
}

.userInfo {
  position: relative;
  margin-top: 100px;
  background: #ffffff;
  border-radius: 80px;
  width: 70%;
  margin-right: 30px;
  margin-left: -60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.userHeadShot {
  position: relative;
  display: flex;
  margin-top: 100px;
  z-index: 999;
  left: 25px;
}

.userHeadShotImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.detail li {
  display: inline;
}

.userInfo li {
  display: inline;
  margin-left: 80px;
}

.row1 li {
  align-items: center;
  justify-items: center;
  flex: 1;
}

.row2 li {
  display: inline;
  align-items: center;
  justify-items: center;
  flex: 1;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  /* identical to box height */
  color: #88a1d2;
}
.mail {
  font-style: normal;
  font-weight: bold;
}
.phone {
  font-style: normal;
  font-weight: bold;
}

.infoText {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */
  color: #9a9c9a;
}

.detail td:nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  /* identical to box height */
  color: #88a1d2;
}

.detail td:nth-child(2) {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.titleLabel {
  flex: 1;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  /* identical to box height */

  color: #88a1d2;
}

.problem {
  flex: 1;
  margin-top: 30px;
  margin-left: 10%;
}

.problem-text {
  resize: unset;
  flex: 1;
  width: 80%;
  height: 120px;
  font-size: 16px;
  padding: 15px;
  border-color: #88a1d2;
  border-radius: 25px;
}

.button-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.finishButton {
  margin-right: 5%;
  width: 154px;
  height: 45px;
  border-radius: 35px;
  border: none;
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  background: #9a9c9a;
  padding-top: 5px;
  /* identical to box height */

  color: #f7f8f8;
}
.finishButton:hover {
  box-shadow: 0 3px 3px 3px #dcdddc, 0 3px 1px -2px rgb(33 150 243 / 20%), 0 1px 5px 0 rgb(33 150 243 / 12%);
}

.acceptButton {
  width: 111px;
  height: 33px;
  border-radius: 20px;
  border: none;
  background: #89a2d0;
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height */
  color: #ffffff;
}

.acceptButton:hover {
  box-shadow: 0 3px 3px 3px #e3ebfa, 0 3px 1px -2px rgb(33 150 243 / 20%), 0 1px 5px 0 rgb(33 150 243 / 12%);
}

.item img {
  width: 25px;
}

.button-back {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 30%;
  background-color: #f7f8f8;
  padding-left: 40px;
  padding-top: 20px;
}

.button-back:hover {
  cursor: pointer;
}

.detail-title-row {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  border-bottom: solid;
  border-bottom-color: #f7f8f8;
  height: 50px;
}

.detail-title-col {
  flex: 1;
}

.detail-title-left {
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  color: #555654;
  margin-left: 5%;
  vertical-align: middle;
}

.detail-title-right {
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 14px;
  text-align: right;
  color: #555654;
  margin-right: 5%;
  vertical-align: middle;
}

.detail-content-row {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  border-bottom: none;
}
.detail-content-col {
  flex: 1;
  margin-top: 7px;
  margin-bottom: 7px;
}

.detail-content-left {
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  color: #555654;
  margin-left: 5%;
  vertical-align: middle;
}

.detail-content-right {
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 14px;
  text-align: right;
  color: #555654;
  margin-right: 5%;
  vertical-align: middle;
}

.problemStatement {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "PingFang TC";
  font-style: normal;
  font-size: 14px;
  text-align: left;
  color: #555654;
  margin-left: 5%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
